@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#trashIcon {
  font-size: 18px;
  cursor: pointer;
}
header {
  background-color: #87ceeb;
  padding: 10px 50px;
  position: relative;
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav #userIcon {
  color: black;
  font-size: 2.5rem;
}
header nav #logo {
  text-decoration: none;
  color: black;
}
header nav #logo p {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  cursor: pointer;
}
header nav #wishlistLogo {
  text-decoration: none;
  color: black;
}
header nav #wishlistLogo #taskIcon {
  font-size: 2.5rem;
  cursor: pointer;
}
#addWishesWrapper {
  width: 40%;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid grey;
}
@media (max-width: 500px) {
  #addWishesWrapper {
    width: 80%;
  }
}
#addWishesWrapper h1 {
  text-align: center;
}
#addWishesWrapper #ulWishes {
  border-top: 1px solid lightgrey;
  padding-top: 15px;
  margin: 20px 0px;
}
#addWishesWrapper #ulWishes li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}
#addWishesWrapper #ulWishes li span {
  display: flex;
  align-items: center;
  margin: 5px;
}
#addWishesWrapper #ulWishes li span #check {
  margin-right: 15px;
}
#addWishesWrapper #ulWishes li span #check::before {
  content: "";
  background: white;
  width: 16px;
  height: 16px;
  position: relative;
  bottom: 3px;
  display: block;
  cursor: pointer;
  border: 1px solid #87ceeb;
}
#addWishesWrapper #ulWishes li span #check:checked::before {
  background-color: #87ceeb !important;
}
#addWishesWrapper #ulWishes li span #trashIcon {
  font-size: 18px;
  cursor: pointer;
}
#addWishesWrapper span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#addWishesWrapper span input[type='text'] {
  padding: 10px;
  width: 50%;
  outline: none;
  font-size: 1rem;
}
@media (max-width: 500px) {
  #addWishesWrapper span input[type='text'] {
    width: 70%;
    font-size: .8rem;
    border: 1px solid lightgrey;
  }
}
#addWishesWrapper span #btnEnter {
  border: 1px solid #87ceeb;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1rem;
  color: grey;
  outline: none;
}
#addWishesWrapper span #btnEnter:hover {
  background-color: #87ceeb;
  border: 1px solid transparent;
  color: white;
}
