.fade-enter {
    opacity: 0;
    transform: translate(0, 0);
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out, transform 600ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out, transform 600ms;
    transform: translate(0, -150px);
  }

  /* move to wishlist */
  .moveToList{
      position: absolute;
      top: -150px;
      left: 100px;
      color: skyblue;
      animation: moveUp 5s;
      position: relative;
    
  }

  @keyframes moveUp{
      0%{
          transform: translate(350px, 0);
          opacity: 1;
      }
      100%{
          transform: translate(1550px, -750px);
          opacity: 0;
      }
  }

